@import 'vars.css';
@import 'custom.css';

html {
  overflow-x: hidden;
  overflow-y: scroll;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
  -webkit-tap-highlight-color: transparent;
}
